<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">

<h1 class="alert alert-dark"> About the Password Generator</h1>
<p class="alert alert-light"> The generator makes random password from the selection that you provide. It is created by SupremeSin</p>
<a href="{% url 'home' %}" class="btn btn-warning"> Home </a>
</div>